- title "Welcome #{ employee_signed_in? ? current_employee.name : ''}"
- if employee_signed_in?
  = image_tag(current_employee.twitter_image(:size => 'original')) if current_employee.twitter_name
  = image_tag(current_employee.facebook_image) if current_employee.uid